<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app"></div>

<script>

    /*
v-model
  v-bind
  v-on

v-bind: присвоение js логики
v-on: слушатель событий
v-if создается и пропадает
v-else
v-show всегда есть display none ili block

    */
  const { createApp } = Vue;
  const rootComponent = {
    template: `
    
    <input type="text" v-model="name">
    <button v-on:click="name = ''" v-bind:disabled="name.length === 0">X</button>
    <div v-if="name.length < 3">
        <span>Дядя введи больше 2х символов</span>
    </div>

    <div v-show="name.length >= 3">
        <h2>Hello, {{name}}</h2>
        <button>ЖМАКНИ</button>
        </div>

    `,
    data(){
        return {
            name: ''
        }
    }
  };

  const app = createApp(rootComponent);

app.mount('#app')
</script>
</body>
</html>